name: Build OppoPods

on:
  push:
    tags: [ "*" ]
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Build debug APK
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo 'org.gradle.parallel=true' >> gradle.properties
          echo 'org.gradle.jvmargs=-Xmx2048m' >> gradle.properties
          ./gradlew assembleDebug

      - name: Build release APK
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo 'org.gradle.parallel=true' >> gradle.properties
          echo 'org.gradle.jvmargs=-Xmx2048m' >> gradle.properties
          ./gradlew assembleRelease

      - name: Sign release APK
        if: ${{ startsWith(github.ref, 'refs/tags/') && secrets.SIGNING_KEY != '' }}
        uses: kevin-david/zipalign-sign-android-release@v2
        id: sign_app
        continue-on-error: true
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload debug APK
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@v4
        with:
          name: OppoPods-debug
          path: app/build/outputs/apk/debug/*.apk

      - name: Upload release APK
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@v4
        with:
          name: OppoPods-release
          path: |
            ${{ steps.sign_app.outputs.signedReleaseFile }}
            app/build/outputs/apk/release/*.apk

      - name: Create GitHub Release
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: ncipollo/release-action@v1
        continue-on-error: true
        with:
          token: ${{ github.token }}
          artifacts: |
            ${{ steps.sign_app.outputs.signedReleaseFile }}
            app/build/outputs/apk/release/*.apk
          generateReleaseNotes: true
          makeLatest: true
          replacesArtifacts: true
